.logo {
  height: 100%;
  width: 50%;
}
.image {
  height: 50vh;
  width: 22vw;
}

.signup {
  width: 60%;
  height: 60%;
}
.continue {
  width: 100%;
}
.signupstep1 {
  width: 100%;
  height: 100%;
}
